header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    background-color:cornflowerblue;
    height: 90px;
}

header h1{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
header a{
    color: #fff;
    font-weight: 500;
}
.auth-token{
    max-width: 400px;
    margin: 0 auto;
}
form h1{
    font-weight: 600;
    margin-bottom: 50px;
}
.df{
    display: flex;
}
.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.fd{
    flex-direction: column;
}


/* home page */
.ai{
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
    margin: 0 auto;
    gap: 20px;
}
.ai-tems{
    background: linear-gradient(135deg, #007bff, #00bcd4);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    width: 32%;
    color: #fff;
    height: auto;
}
.ai-tems h4{
    font-size: 19px;
}
.btn-div{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
.ai-tems h3{
    font-size: 25px;
    font-weight: 600;
}
.btn-try{
    background-color: #fc6e51;
    color: #fff;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 14px;
    transition: .3s;
}
.btn-try:hover{
    background-color: #6610f2;
    color: #fff;
    cursor: pointer;
}
.ti{
    text-align: center;
}
.main-word{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 30px;
}


/* chatter blast page */


.chat-container{
    max-width: 800px;
    margin: 0 auto;
}
.input-chat{
    width: 800px;
    position: fixed;
    bottom: 30px;
    display: flex;
}
.input-chat input{
    padding: 13px 30px;
    border-radius: 20px;
    margin-right: 10px;
}
.btn-closed{
    font-size: 18px;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    background-color: #dedede;
}
.btn-send{
    font-size: 18px;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
}
.btn-send:hover{
    color: #fff;
    background-color: #6610f2;
    transition: .2s;
}
.btn-closed:hover{
    color: #fff;
    transition: .2s;
    background-color: #00bcd4;
}
.chat{
    background-color: #5159ff;
    color: #fff;
}
.typing{
    animation: anim 1s step-end infinite ;
    opacity: 1;
}
.img_gen img{
    margin-top: 10px;
    width: 400px;
    border-radius: 5px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-file{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-file input{
    width: 200px;
    cursor: pointer;
    opacity: 0;
}
.btn-file button{
    width: 200px !important;
    position: absolute;
    border: none;
    padding: 7px 10px;
    color: #fff;
    z-index: -1;
}
.rec_img img{
    width: 400px;
    border-radius: 5px;
    object-fit: cover;
    height: 400px;
    margin: 20px 0;
}

@keyframes anim {
    50%{
        opacity: 0;
    }
}